.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control input {  
    padding: .8em .7em;
    border-radius: 0;
    width: 450px;
    border: none;
}

.form_control input:valid {
    color: #000;
}

.form_control input::placeholder {
    color:#555;
}