.btnContainer {
    margin: 3em;
}

.btn {
    padding: 0.7em 1.2em;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ffbb33;
    color: #ffbb33;
    font-weight: bold;
    transition: 0.5s;
    background-color: #000;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 300px;
}

.btn:hover{
    background-color: #ffbb33;
    color: #000;
    box-shadow: 0px 0px 10px #ffbb33;
    transform: scale(1.1);
}