.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 36px 24px 64px;
}

.min-height {
  min-height: calc(100vh - 160px);
}

@media (max-width: 768px) {
  .container {
    padding: 24px 16px 48px;
  }
}
