.home_container{
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1{
    font-size: 50px;
    margin-bottom: .5em;
}

.home_container h1 span{
    color: #ffbb33;
}

.home_container p{
    margin-bottom: 1.5em;
    font-size: 20px;
}

.home_container p span{
    color: #ffbb33;
    font-weight: bold;
    font-style: italic;
}

.home_container img{
    width: 400px;
    margin: 3em 0;
}

