.btn {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ffbb33;
    color: #ffbb33;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover{
    background-color: #ffbb33;
    color: #000;
    box-shadow: 0px 0px 20px #ffbb33;
    transform: scale(1.1);
}