.navbar {
    display: flex;
    background-color: #000;
    padding: 1em;
    box-shadow: 0px 0px 30px rgba(191, 255, 62, 0.37);
    position: fixed;
    width: 100%;
}

.imglogo {
    display: flex;  
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.imglogo h1 {
    color: #ffbb33;
}

.imglogo:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px
}

.item {
    margin-right: 1em;
    transition: 0.3s all;
    font-size: 20px;

}

.item:hover {
    transform: scale(1.1);
}

.item a {
    text-decoration: none;
    color: #fff;
}

.item a:hover {
    color: #ffbb33;
    transition: 0.3s all;
}