* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  background-image: radial-gradient(circle, rgb(21, 22, 13) 0%, rgb(2, 1, 7) 80%);
  height: 100%;
}



